<body>
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">이용 후기</h2>
    </div>
    <br />
    <div class="client_container" style="display: inherit">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">생성일자</th>
            </tr>
          </thead>
          <tbody id="review-list">
            <% for(let i = reviewsMeta.page + 4 * (reviewsMeta.page - 1); i <
            reviews.length; i++){ %>
            <tr>
              <td><%= i %></td>
              <td><%= reviews[i].title %></td>
              <td><%= reviews[i].userId %></td>
              <td><%= reviewsCreatedAt[i] %></td>
              <td>
                <button
                  class="btn btn-outline-dark"
                  onclick="location.replace('/view/index/review/' + reviews[i].id)"
                >
                  상세보기
                </button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div>
        <ul id="pagination">
          <li></li>
        </ul>
      </div>
    </div>
    <button onclick="location.href='/view/community?page=1&limit=5'">
      글작성
    </button>
    <div class="pagination"></div>
  </section>
</body>
<script>
  console.log('<%- reviewsMeta.page %>');
  // const reviewPage = parseInt('<%- reviewsMeta.page %>');
  // const reviewList = document.querySelector('review-list');
  // for (
  //   let i = reviewPage + 4 * (reviewPage - 1);
  //   i <= '<%- reviews.length %>';
  //   i++
  // ) {
  //   const temp_review = `
  //         <tr>
  //               <td><%= i %></td>
  //               <td><%= reviews[i].title %></td>
  //               <td><%= reviews[i].userId %></td>
  //               <td><%= reviewsCreatedAt[i] %></td>
  //               <td>
  //                 <button
  //                   class="btn btn-outline-dark"
  //                   onclick="location.replace('/view/index/review/' + reviews[i].id)"
  //                 >
  //                   상세보기
  //                 </button>
  //               </td>
  //             </tr>
  //             `;
  //   reviewList.innerHTML = temp_review;
  // }

  const totalPage = parseInt('<%- reviewsMeta.lastPage %>', 10);
  const pageNationLi = document.querySelector('#pagination li');
  for (let i = 1; i <= totalPage; ++i) {
    const a = document.createElement('a');
    a.href = `/view/community?page=${i}&limit=5`;
    a.textContent = i + ' ';
    pageNationLi.appendChild(a);
  }
</script>
