<!DOCTYPE html>
<html lang="en">
  <%-include('components/head') %>
  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <%-include('./components/header') %>
      <!-- end header section -->

      <!-- hero section -->
      <section class="hero_section">
        <% if(components === 'main'){ %> <%-include('main') %> <%} %>
        <%if(components === 'signup'){ %> <%-include('sign-up') %> <%} %>
        <%if(components === 'login' ){ %> <%-include('login') %> <%} %>
        <%if(components === 'lostId'){ %> <%-include('lost-id') %> <%} %>
        <%if(components === 'lostPassword'){ %> <%-include('lost-password') %>
        <%}%> <%if(components === 'resetPassword'){ %>
        <%-include('reset-password')%><%}%> <%if(components ==='home'){%>
        <%-include('home')%> <%}%> <%if(components ==='inquiry'){%>
        <%-include('inquiry')%> <%}%> <%if(components ==='reserve'){%>
        <%-include('reserve')%> <%}%> <%if(components ==='rooms'){%>
        <%-include('rooms')%> <%}%> <%if(components ==='community'){%>
        <%-include('community')%> <%}%> <%if(components ==='chatting'){%>
        <%-include('chatting')%> <%}%> <%-include('community')%> <%}%>
        <%if(components ==='mypage'){%> <%-include('mypage')%> <%}%>
      </section>
      <!-- end hero section -->
    </div>
    <!-- end hero area -->

    <!-- footer section -->
    <%-include('./components/footer') %>
    <!-- footer section -->
  </body>
</html>
