<!DOCTYPE html>
<html lang="en">
    <%-include('components/head') %> 
  <body>
    <%-include('./components/header') %>
    
    <% if(components === 'main'){ %> 
      <%-include('main') %> 
    <%} %>
    <% if(components === 'signup'){ %> 
      <%-include('sign-up') %> 
    <%} %>
    <% if(components === 'login'){ %> 
      <%-include('login') %> 
    <%} %>
    <% if(components === 'lostId'){ %> 
      <%-include('lost-id') %> 
    <%} %>
  </body>
</html>
