<body>
    <div class="camps">
    <table>
      <th>캠프명</th>
      <th>캠프타입</th>
      <th>최대인원수</th>
      <th>가격</th>
      <th>상태</th>
      <th></th>
      <% for(let i = 0; i<camps.length; i++){ %>
      <tr> 
        <td><%=camps[i].name%></td>
        <td><%=camps[i].type%></td>
        <td><%=camps[i].headcount%></td>
        <td><%=camps[i].price%></td>
        <% if (!camps[i].isRepair) { %> <td>정상</td>
        <% } else {%><td>수리중</td><%}%>
        <td><button onclick="location.replace(`/view/management/camp/<%=camps[i].id%>`)">상세보기</button></td>
      </tr>
      <% } %>
    </table>
    </div>
</body>
