<div class="camps">
  <div>번호 : <%=camp.id%></div>
  <div>이름 : <%=camp.name%></div>
  <div>최대인원 : <%=camp.headcount%></div>
  <div>가격 : <%=camp.price%></div>
  <div>유형 : <%=camp.type%></div>
  <div>상태 : <% if(!camp.isRepair){%> 영업중<%} else { %> 수리중<%} %></div>
  <div>점검종료일 : <%=camp.repairEndDate%></div>
  <button
    onclick="location.replace('/view/management/camp/update/<%=camp.id%>')"
  >
    수정하기
  </button>
  <button onclick="deleteCamp('<%=camp.id%>')">삭제하기</button>
  <button onclick="location.replace('/view/management/camp')">뒤로가기</button>
</div>
