<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>manager-orderlist</title>
  </head>
  <body>
    <div class="orders">
      <div><h2>예약/결제 내역 조회</h2></div>

      <% for (let i = 0; i < orderlist.length; i++) { %>
      <table
        class="table table-secondary"
        style="width: 90%; margin: 25px auto"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">유저고유번호</th>
            <th scope="col">캠프이름</th>
            <th scope="col">예약일</th>
            <th scope="col">총인원</th>
            <th scope="col">총가격</th>
          </tr>
        </thead>

        <tbody></tbody>
        <tr>
          <td><%=orderlist[i].id%></td>
          <td><%=orderlist[i].userId%></td>
          <td><%=orderlist[i].CampName%></td>
          <td><%=orderlist[i].selectedDay.toLocaleString()%></td>
          <td><%=orderlist[i].headcount%></td>
          <td><%=orderlist[i].receipt%></td>
        </tr>
        <tr>
          <td></td>
          <td>리뷰여부:</td>
          <td><%=orderlist[i].isReview%></td>
          <td></td>
          <td>결제방식:</td>
          <td><%=orderlist[i].type%></td>
        </tr>

        <% } %>
      </table>
      <div
        id="pagination"
        class="pagination"
        style="display: flex; justify-content: center; text-align: center"
      ></div>
    </div>
  </body>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <script>
    // 페이지 네이션
    $(document).ready(function () {
      let url = new URL(window.location.href);
      const currentPage = url.searchParams.get('page') || 1;

      const totalCount = '<%= orderlist[1] %>';

      const lastPage = Math.ceil(totalCount / 5);
      const pagesInPageGroup = 3;

      // 1~2페이지는 그룹1, 3~4페이지는 그룹2
      const pageGroup = Math.ceil(currentPage / pagesInPageGroup);

      // 페이지 그룹1의 마지막 페이지는 2
      const pageGroupLast =
        pageGroup * pagesInPageGroup > lastPage
          ? lastPage
          : pageGroup * pagesInPageGroup;

      // 페이지 그룹1의 첫번째 페이지는 1
      // => 마지막 페이지 숫자(2) - 한 페이지 그룹에 들어가는 페이지 수(2) - 1
      // const pageGroupFirst = pageGroupLast - (pagesInPageGroup - 1) < 1 ? 1 : pageGroupLast - (pagesInPageGroup -1)
      const pageGroupFirst =
        pageGroup === 1 ? 1 : (pageGroup - 1) * pagesInPageGroup + 1;

      const pages = [];

      // 전 페이지 그룹으로 가기
      if (pageGroup > 1) {
        // 이전 페이지 그룹 - 1 => 이전 페이지 그룹의 마지막 페이지는 (pageGroup-1)*2
        pages.push(
          `<li class="page-item"><a class="page-link" onclick="appendQueryParameter(${
            (pageGroup - 1) * pagesInPageGroup
          })"><<</a></li>`,
        );
      }

      // 페이지 그룹의 첫번 째 페이지가 1보다 크면 이전 화살 만들기
      if (currentPage > 1) {
        pages.push(
          `<li class="page-item"><a class="page-link" onclick="appendQueryParameter(${
            currentPage - 1
          })"><</a></li>`,
        );
      }

      // 페이지 그룹의 마지막 페이지까지 페이지 숫자 렌더링 하기
      for (i = pageGroupFirst; i <= pageGroupLast; i++) {
        pages.push(
          `<li class="page-item" id="page${i}"><a class="page-link" onclick="appendQueryParameter(${i})">${i}</a></li>`,
        );
      }

      // 페이지 그룹의 마지막 페이지가 총 마지막 페이지보다 작을 때 다음 화살 만들기
      if (currentPage < lastPage) {
        pages.push(
          `<li class="page-item"><a class="page-link" onclick="appendQueryParameter(${
            currentPage + 1
          })">></a></li>`,
        );
      }

      // 다음 페이지 그룹으로 가기
      if (pageGroupLast < lastPage) {
        // 다음 페이지 그룹 + 2 => 다음 페이지 그룹의 첫 페이지는 pageGroup * pagesInPageGroup + 1
        pages.push(
          `<li class="page-item"><a class="page-link" onclick="appendQueryParameter(${
            pageGroup * pagesInPageGroup + 1
          })">>></a></li>`,
        );
      }

      document.getElementById('pagination').innerHTML = pages.join('');

      $(`#page${currentPage}`).addClass('active');
    });

    function appendQueryParameter(pageNum) {
      let url = new URL(window.location.href);
      url.searchParams.set('page', pageNum);

      window.location.href = url.href;
    }
  </script>
</html>
