<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin-users</title>
  </head>
  <body>
    <div class="users">
      <div><h2>유저정보 조회 페이지</h2></div>
      <table
        id="usersinfo"
        class="table table-secondary"
        style="width: 90%; margin: 25px auto"
      >
        <!-- colspan="5" -->
        <thead>
          <th>고유번호</th>
          <th>유저아이디</th>
          <th>이름</th>
          <th>핸드폰번호</th>
          <th>이메일</th>
          <th>상세보기</th>
          <th>수정</th>
          <th>삭제</th>
        </thead>

        <tbody></tbody>

        <% for (let i = 0; i < users.length; i++) { %>
        <tr class="table-light">
          <td><%=users[i].id%></td>
          <td><%=users[i].userId%></td>
          <td><%=users[i].name%></td>
          <td><%=users[i].phone%></td>
          <td><%=users[i].email%></td>

          <td>
            <button type="button" class="btn btn-outline-dark">
              <a
                onclick="location.replace(`/view/management/users/<%=users[i].id%>`)"
                >상세보기</a
              >
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary">
              <a
                onclick="location.replace(`${location.href}/update/<%=users[i].id%>`)"
                >수정</a
              >
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-warning">
              <a onclick="deleteUser(`<%=users[i].id%>`)">삭제</a>
            </button>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>

  <script></script>
</html>
