<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin-users</title>
  </head>
  <body>
    <div class="users">
      <div>유저정보 조회 페이지</div>
      <table id="usersinfo" class="table">
        <!-- colspan="5" -->
        <thead>
          <th>고유번호</th>
          <th>유저아이디</th>
          <th>이름</th>
          <th>핸드폰번호</th>
          <th>이메일</th>
          <th>상세보기</th>
          <th>수정</th>
          <th>삭제</th>
        </thead>

        <tbody></tbody>

        <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td><%=users[i].id%></td>
          <td><%=users[i].userId%></td>
          <td><%=users[i].name%></td>
          <td><%=users[i].phone%></td>
          <td><%=users[i].email%></td>

          <td>
            <button type="button" class="btn btn-outline-dark">
              <a onclick="location.replace(`${location.href}/<%=users[i].id%>`)"
                >상세보기</a
              >
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary">
              <a
                onclick="location.replace(`${location.href}/update/<%=users[i].id%>`)"
                >수정</a
              >
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-warning">
              <a onclick="deleteUser(`<%=users[i].id%>`)">삭제</a>
            </button>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>

  <script>
    function deleteUser(id) {
      console.log(id);
      let input = prompt('삭제하시려면 "삭제합니다" 를 입력해 주세요');
      if (input === '삭제합니다') {
        $.ajax({
          type: 'DELETE',
          url: `/api/users/${id}`,
          data: {},
          success: function (result) {
            alert('삭제 완료');
            location.replace('/view/management/users');
          },
          error: function (error) {
            console.log(error);
            alert('실패');
          },
        });
      } else {
        alert('일치하지 않습니다');
      }
    }
  </script>
</html>
