<% for (let i = 0; i < orderlist.length; i++) { %>
<tr>
  <td><%=orderlist[i].id%></td>
  <td><%=orderlist[i].userId%></td>
  <td><%=orderlist[i].campId%></td>
  <td><%=orderlist[i].selectedDay%></td>
  <td><%=orderlist[i].headcount%></td>
  <td><%=orderlist[i].receipt%></td>
</tr>

<% } %>
